<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Доставка пиццы • Контакты</title>
    <link rel="icon" type="image/svg" href="/pizza-slice-solid.svg">
    <script src="https://kit.fontawesome.com/deaee54991.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Доставка пиццы в Перми</h1>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="/"><i class="fa-solid fa-pizza-slice" style="color: #fbca18;"></i></a></li>
                <li><a href="/pizzas">Пицца</a></li>
                <li><a href="/sauces">Соусы</a></li>
                <li><a href="/juices">Напитки</a></li>
                <li><a href="/reviews">Отзывы</a></li>
                <li><a href="/contacts">Контакты</a></li>
            </ul>
        </nav>
    </header>
    <main class="contacts">
        <h1>Наши контакты</h1>
        <div class="phones">
            <h3>Телефоны:</h3>
            <ul>
                <li><code>+7(992)204-63-67</code></li>
                <li><code>+7(992)214-73-76</code></li>
                <li><code>+7(902)639-75-03</code></li>
            </ul>
        </div>
        <div class="social">
            <h3>Социальные сети: </h3>
            <i class="fa-brands fa-vk fa-2xl" style="color: #2ea4ff;"></i>
            <i class="fa-brands fa-telegram fa-2xl" style="color: #389fff;"></i>
            <i class="fa-brands fa-youtube fa-2xl" style="color: #ff0000;"></i>
            <i class="fa-brands fa-whatsapp fa-2xl" style="color: #00d64b;"></i>
        </div>
        <div class="mail">
            <h3>Электронная почта:</h3> 
            <code>danichPerm2016@mail.ru</code>
        </div>
    </main>
    <footer>
        Доставка по всей Перми.<br>
        &copy; Ермишин Данил 2023<br>
        <a href="mailto:danichPerm2016@mail.ru">danichPerm2016@mail.ru</a>
    </footer>
</body>
</html>